# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

{{ ip.controller_ip }}         localhost

192.168.56.10   controller 
192.168.56.11   compute
192.168.56.12   network
192.168.56.13   cinder
192.168.56.14   swift

